[Unit]
Description=My carrental service
After=network-online.target

[Service]
Type=simple
User={{user}}
ExecStart=/usr/bin/java -jar {{carrental_remote}}
Restart=always

[Install]
WantedBy=multi-user.target